@import "../../common/styles/variables";

.footerBlock {
  background-color: #f5df4e;
  min-height: 40vh;
  align-items: flex-end;

  .footerFade {
    width: 100%;
  }

  .footerContainer {
    flex-direction: column;
    min-height: 30vh;
    margin-bottom: 20px;

    .contacts {
      width: 40%;
      display: flex;
      justify-content: space-between;
      @media (max-width: 1023px) {
        width: 60%;
      }

      .contactsItem {
        color: $primaryColor;
        width: 60px;
        height: 60px;
        &:hover {
          color: rgba(52, 58, 64, 0.7);
        }
        @media (max-width: 767px) {
          width: 30px;
          height: 30px;
        }
      }
    }

    .rights {
      font-size: 1rem;
      @media (max-width: 415px) {
        font-size: 0.8rem;
        text-align: center;
      }
    }
  }
}