.projectsBlock {
    background-color: #dddbfa;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.projectsItems {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

/* Media queries ==============================================================>> */
@media (max-width: 1023px)  {
    .projectsItems {
        justify-content: center;
    }
}