@import "../../../common/styles/variables";

.skillContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  padding: 10px;

  .skillLogo {
    font-size: 70px;
    color: $primaryColor;
    background-color: $decorColor;
    //transform: rotate(45deg);
  }
}

