@import "../../../common/styles/variables";

.skillContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: justify;
  padding: 10px;

  .skillLogoContainer {
    transform: rotate(45deg);
    height: 80px;
    width: 80px;
    background-color: $decorColor;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;

    .skillLogo {
      font-size: 70px;
      color: $primaryColor;
      transform: rotate(-45deg);
    }
  }
}

