@import "./variables.scss";

.block {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: 5px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btnLink {
    color: $primaryColor;
    width: 200px;
    padding: 10px 0;
    background-color: $decorColor;
    border: 1px solid #777;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
}
