.block {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    margin: 0 auto;
    border: 1px solid #333333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
