$primaryBackgroundColor: #e8e8e8;
$secondaryBackgroundColor: rgba(248, 249, 250, 1);
$decorColor: rgba(245, 223, 78, 1);
$primaryColor: #343a40;
$primaryFont: 'Josefin Sans', sans-serif;
$secondaryFont: 'Poppins', sans-serif;

