$primaryBackgroundColor: #f8f9fa;
$secondaryBackgroundColor: #e8e8e8;
$decorColor: #f5df4e;
$primaryColor: #343a40;
$primaryFont: 'Josefin Sans', sans-serif;
$secondaryFont: 400 14px/1.8 'Poppins', sans-serif;

