@import "./../../common/styles/variables.scss";

.mainBlock {
    background-color: #343a40;
}

.mainContainer {
    justify-content: space-around;
}

.photo {
    width: 300px;
    height: 500px;
    background-color: $decorColor;
}

.aboutMe {
    color: #fff;

    h1 {
        color: inherit;
    }
}


/* Media queries ==============================================================>> */
@media (max-width: 740px)  {
    .mainContainer {
        justify-content: center;
    }
}