@import "./../../common/styles/variables.scss";

.contactMeBlock {
  background-color: $primaryBackgroundColor;

  .contactMeContainer {
    min-height: 60vh;
    flex-direction: column;

    .contactMeForm {
      width: 500px;
      height: 150px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .formItem {
        font-family: $primaryFont;
        font-size: 16px;
        width: 98%;
        height: 15%;
        background-color: $secondaryBackgroundColor;
        border: 1px solid black;
      }

      textarea {
        height: 40% !important;
      }

      @media (max-width: 767px) {
        width: 300px;
      }
      @media (max-width: 374px) {
        width: 280px;
      }
      @media (max-width: 359px) {
        width: 250px;
      }
    }

    .btn {
      font-family: $primaryFont;
      width: 200px;
      height: 40px;
      font-size: 1.4rem;
      background-color: $decorColor;
    }
  }
}