@import "./../../common/styles/variables.scss";

.mainBlock {
  background-color: #212529;
  position: relative;

  .particles {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .mainContainer {
    justify-content: space-around;
    position: relative;
    z-index: 1;

    .aboutMe {
      color: #fff;
      margin-bottom: 50px;

      span:nth-child(2) {
        font-family: $primaryFont;
        color: inherit;
        display: block;
        font-size: 48px;
        letter-spacing: 5px;
        span {
          display: inline-block;
          position: relative;
          z-index: 1;
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            bottom: -5px;
            height: 20px;
            background-color: rgba(245, 223, 78, 0.7);
            z-index: -1;
          }
        }

      }
      span:nth-child(3) {
        font-size: 27px;
        font-family: $primaryFont;
      }

      @media (max-width: 560px) {
        margin-bottom: 30px;
        text-align: center;
        span:nth-child(2) {
          font-size: 42px;
        }
      }
    }

    .photo {
      position: relative;
      width: 300px;
      height: 500px;
      background-color: #212529;
      background-image: url('../../assets/img/mainImg/me.jpg');
      background-size: cover;
      background-position: center;
      .photoFrame {
        position: absolute;
        z-index: -1;
        top: -13px;
        left: 10px;
        width: 296px;
        height: 516px;
        border: 4px solid rgba(245, 223, 78, 0.8);
      }
    }
    
    @media (max-width: 740px) {
      justify-content: center;
    }
  }
}