@import "./../../common/styles/variables.scss";

.mainBlock {
  background-color: #212529;

  .mainContainer {
    justify-content: space-around;

    .aboutMe {
      color: #fff;

      span, p {
        font-family: $secondaryFont;
      }

      h1 {
        color: inherit;
      }
    }

    .photo {
      width: 300px;
      height: 500px;
      background-color: $decorColor;
      background-image: url('../../assets/img/mainImg/me.jpg');
      background-size: cover;
      background-position: center;
    }
    @media (max-width: 740px) {
      justify-content: center;
    }
  }
}