@import "../../common/styles/variables";

.title {
  font-size: 36px;
  font-weight: 500;
  margin: 20px 0 60px 0;
  position: relative;

  &::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 3px;
    background-color: $decorColor;
    bottom: -30px;
    left: 50%;
    transform: translate(-50%, 50%);
  }
}
