@import "./../../common/styles/variables.scss";

.remoteBlock {
  background-color: $secondaryBackgroundColor;
  min-height: 40vh;

  .remoteContainer {
    flex-direction: column;
    justify-content: space-between;
    min-height: 25vh;
    text-align: center;
  }
}

