.footerBlock {
  background-color: #f5df4e;
  min-height: 40vh;
  align-items: flex-end;

  .footerContainer {
    flex-direction: column;
    min-height: 25vh;
    margin-bottom: 20px;

    .contacts {
      border: 1px solid #333;
      width: 40%;
      display: flex;
      justify-content: space-between;
      @media (max-width: 1023px) {
        width: 60%;
      }

      .contactsItem {
        width: 60px;
        height: 60px;
        background-color: #777;
        @media (max-width: 767px) {
          width: 30px;
          height: 30px;
        }
      }
    }

    .rights {
      font-size: 1rem;
      @media (max-width: 374px) {
        font-size: 0.8rem;
      }
    }
  }
}