@import './common/styles/variables.scss';

h1, h2, h3 {
    margin: 12px 0;
    letter-spacing: 5px;
    color: $primaryColor;
    font-family: $primaryFont;
}

input textarea {
    font-family: $primaryFont;
    font-style: italic;
}

textarea {
    resize: none;
}
